div.outer {
  margin-top: 100px;
  margin-left: 25%;
  margin-right: 25%;
  text-align: center;
}

h1#header {
  font-size: 80px;
}

p#number {
  font-size: 24px;
}

p#quote {
  font-size: 56px;
}

p#author {
  font-size: 56px;
}



#button {
	background-color:#6cc0e5;
	border-radius:28px;
	border:1px solid #3086d1;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:40px;
	padding:30px 50px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;

  left: 50%;
}
#button:hover {
	background-color:#5bb8e3;
}
